* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.shape {
  height: 80px;
  width: 80px;
  padding: 10px;
  margin-left: 10px;
}
nav {
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  /* justify-content: space-between; */
  border-bottom: 1px solid black;
  z-index: 10;
  align-items: center;
  /* background-color: #fff; */
}
nav ul li {
  margin: 10px 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  padding-left: 15px;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s ease-in-out;
}
h1 {
  font-size: 40px;
  font-family: "Lemon", serif;
  margin-right: 20px;
}

.nav-btn {
  border-radius: 40px;
  border: 0;
  outline: 0;
  padding: 15px 20px;
  transition: transform 0.3s ease-in-out;
  background-color: rgb(229, 226, 226);
}

.nav-btn:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(33, 28, 28);
}

ul li:hover {
  color: rgb(158, 7, 32);
  transform: scale(1.04);
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 10%;
  position: absolute;
  background: linear-gradient(#fff 20%, #ffccc1 49%, #dcdbff 100%);
}

h2 {
  font-size: 13vw;
  font-family: "Poppins", sans-serif;
  line-height: 24vh;
  margin-top: 100px;
}
.btn-container {
  margin: 20px 0;
  display: flex;
}

header button {
  outline: 0;
  border: 0;
  padding: 20px 10px;
  cursor: pointer;
  display: inline-flex;
  font-size: 18px;
  margin-right: 20px;
  align-items: center;
}

#req {
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  margin-left: 5px;
}

#more {
  position: absolute;
  left: 384px;
  top: 430px;
}

.btn-dark {
  outline: 0;
  border: 0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.btn-light {
  outline: 0;
  border: 0;
  padding: 10px;
  /* color: white;
  background-color: black; */
  color: black;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-decoration: underline;
}

.header p {
  width: 350px;
  font-size: 15px;
  font-weight: 500;
}

.succ {
  width: 60%;
  max-width: 334px;
  top: 10%;
  right: 19%;
  position: absolute;
  bottom: 0;
}
.ri-menu-3-line {
  display: none;
  position: absolute;
  right: 15%;
}

/* --------------------------+ Animation +------------------------ */
.header h2 span {
  background: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 0%;
}

.header h2 span:first-child {
  animation: textcolor1 2s linear infinite alternate;
}

@keyframes textcolor1 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 100%;
  }
  100% {
    background-size: 100%;
  }
}

.header h2 span:last-child {
  animation: textcolor2 2s linear infinite alternate;
}

@keyframes textcolor2 {
  0% {
    background-size: 0%;
  }
  40% {
    background-size: 0%;
  }
  100% {
    background-size: 100%;
  }
}

@media only screen and (max-width: 600px) {
  nav ul {
    position: absolute;
    width: 100%;
    background: #000;
    color: #fff;
    text-align: center;
    top: 100%;
    left: 0%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .nav-btn {
    display: none;
  }
  nav .shape {
    width: 40px;
    height: 40px;
  }
  nav > h1 {
    font-size: 20px;
  }
  nav ul li {
    margin: 8px;
    font-size: 12px;
  }
  .ri-menu-3-line{
    display: block;
    width: 55px;
  }
  .show-menu {
    max-height: 60px;
  }
   .succ{
    width: 100%;
    top: 0;
    position: absolute;
    margin-bottom:120%
  }

  .header-content {
    position: absolute;
    bottom: 0;
    padding: 0 10%;
    z-index: 2;
    padding-bottom: 40px;
  }

  .btn-dark {
    font-size: 10px;
  }
  .btn-light {
    font-size: 10px;
  }
}

@media only-screen and (max-width:600px) {
  /* .header {
    min-height: auto;
    padding: 0;
  }
  /* .succ { */
 
  
  /* .header-content {
    position: absolute;
    bottom: 0;
    padding: 0 10%;
    z-index: 2;
    padding-bottom: 40px;
  } */
 
 
}
